* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}

.header {
    background-image: url(/images/top-banner.png);
    background-repeat: no-repeat;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding-top: 2rem;
    display: flex;
}

.content_box {
    width: 50%;
}

.section_heading {
    font-size: 5.2rem;
}

.heading_span {
    color: orange;
}

.section_sub_heading {
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: 1.1px;
    text-transform: capitalize;
}

.body_text {
    width: 70%;
    font-size: 1.1rem;
    text-align: justify;
    padding: 2.5rem 0;
}

.img_box {
    width: 50%;
}

.img_box img {
    width: 100%;
}


.button {
    background: linear-gradient(45deg, #ffa07a, #ff6347);
    color: #fff;
    padding: 20px 25px;
    border-radius: 5px;
    font-weight: 800;
    text-transform: uppercase;
}

.btn_icon {
    margin-left: 5px;
}

.button:hover {
    background: linear-gradient(-45deg, #ffa07a, #ff6347);
}

/* about section */
.about_me {
    margin: 5rem 0;
}

.primary_heading {
    font-size: 3rem;
    text-transform: uppercase;
}

.secondary_heading {
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 5px;
}